#page {
    margin: auto;
    width:960px;
}

#content {
    width:100%;
    overflow: hidden;
}

.site-header {
    width:100%;
    padding-top:10px;
    background-color:#CDCCFC;
}

.site-branding {
    margin-left:20px;
}

#primary {
    width:70%;
    float: left;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    background-color:#FFE2E2;
    min-height: 500px;
    padding:0 10px;
}

#primary.front_page {
    width:100%;
    float: none;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    background-color:#FFE2E2;
}

#secondary {
    width:30%;
    float: left;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    background-color:#D5FFCE;
    padding-left:20px;
    padding-top:15px;
}

#secondary.left_sidebar  {
    padding-right:20px;
    padding-left:10px;
}

#colophon {
    width:100%;
    text-align: center;
    margin-top:30px;
}




/*
 * Content Styles */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 { font-size:30px; }
h2 { font-size:28px; }
h3 { font-size:26px; }
h4 { font-size:24px; }
h5 { font-size:22px; }
h6 { font-size:20px; }


a {
    text-decoration: none;
    color:#144379;
}

a:hover {
    text-decoration: none;
    color:#3969A0;
}

body {
    font-family: Arial, sans-serif;
}
